# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw
*.pyproj
*.egg-info/

# Virtual environment
venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Other
.DS_Store
*.log
*.gz
*.tar
*.zip

# Secret access keys
access_keys.cfg
access_keys_shreya.cfg

# ignore pickle files
*.pkl

# ignore dataset
notebooks/yelp_dataset/*
notebooks/checkpoints/*

